@use '../base' as *;

@mixin buttonClass(){
    appearance: none;
    text-decoration: none;
    font-size: 1rem;
    background-color: $color-secondary;
    color: $bright;
    min-width: 100%;
    padding: 1rem;
    border-radius: 25px;
    text-align: center;
}