* {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;

}

body,
footer {
    background: #F9F8FC;
}

.btn-default {
    @include buttonMixin(true);
    min-width: 200px;
}

.btn-alt {
    @include buttonMixin(false)
}

.purple_highlight {
    color: #3A337C;
    font-size: inherit;
    line-height: inherit;
}

.slidePadding {
    padding-top: 50px;
}
