@mixin buttonMixin($default: true) {

    &{
        text-decoration: none;
        cursor: pointer;
        font-size: 0.875em;
        font-weight: 400;
        border-radius: 28px;
        max-width: 150px;
        max-height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;

        @if $default {
            background-color: #3A337C;
            color: #fff;

            &:hover {
                color: #fff;
                background-color: lighten(#3A337C, 10%);
                transition: background-color 0.5s ease;
            }
        }

        @else {
            background-color: #fff;
            color: #3A337C;
            border: 1px solid #3A337C;

            &:hover {
                color: #3A337C;
                background-color: darken(#fff, 10%);
                transition: background-color 0.5s ease;
            }
        }
    }
}

@mixin linkClass($color, $lighten: true) {
    text-decoration: none;

    & {
        color: $color;
    }

    &:hover {
        @if($lighten) {
            color: lighten($color, 40%);
        }

        @else {
            color: darken($color, 40%);
        }
    }
}

@mixin purpleHighlight(){
    all: unset;
    color: #3A337C;
    font-size: inherit;
    line-height: inherit;
}
