@import '~bootstrap/scss/bootstrap';

@import 'mixins';
@import 'variables';
@import 'config';

@import 'page/homepage.scss';

@import 'layouts/header';
@import 'layouts/footer';
@import 'partials/burger';

body{
    background-position: top -100 right -900px;
    background-size: 1900px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
