//! Default
#homepage {
    #welcome_section {
        .welcome-text {
            h2 {
                font-weight: 600;
                margin-bottom: 1.5rem;

                strong {
                    color: #3A337C;
                    font-size: inherit;
                    line-height: inherit;
                }
            }

            p {
                font-size: 1em;
                line-height: 26px;
                margin-bottom: 2.875em;
            }
        }
    }

    #category_section {
        &>.container {
            background-color: #fff;
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
            overflow: hidden;

            .category-text {
                text-align: center;
            }

            h3 {
                font-weight: 500;
                margin-bottom: 1.5rem;

                strong{
                    @include purpleHighlight()
                }
            }

            p {
                font-size: 0.9rem;
                font-weight: 400;
                color: #717178;
            }
        }

        .category-swiper {
            width: 100%;
            height: fit-content;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 4rem;
            overflow: visible;

            // mask: linear-gradient(90deg, transparent, white 15%, white 85%, transparent);

            .swiper-slide {
                //TODO transition: padding 0.5s ease-in-out;

                &:nth-child(odd) {
                    padding-top: 50px;
                }

                .category {
                    position: relative;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0.24;
                        background: #3A337C;
                        border-radius: 25px;
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }

                    h4 {
                        position: absolute;
                        color: #fff;
                        padding: 1.5rem;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    svg {
                        position: absolute;
                        bottom: -2rem;
                        right: 1rem;
                        height: 25%;
                        width: 25%;
                    }
                }
            }
        }

        .category-btn {
            display: flex;
            justify-content: center;
        }
    }

    #about_section {
        &>.container {
            background-color: #F9F8FC;
        }

        .about-image {
            img {
                border-radius: 25px;
                width: 100%;
            }
        }

        .about-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 0 1em;

            h3 {
                color: #7C74C7;
                font-size: 1.125rem !important;
                font-weight: 400;
                line-height: 1.5rem;
                margin-bottom: 0.725rem;
            }

            .title {
                color: #3A337C;
                font-weight: 600;
                line-height: 1.3em;
                margin-bottom: 1.5rem;
            }

            p {
                line-height: 1.5em;
                margin-bottom: 2.7em;
            }

            .btn {
                min-width: 175px
            }
        }
    }

    #news_section {
        &>.container {
            background-color: #fff;
        }

        .news-text {
            text-align: center;

            h3 {
                font-size: 1.25rem !important;
                line-height: 1.75rem;
                color: #7C74C7;
            }

            .title {
                font-size: 2.7rem;
                font-weight: 600;
                line-height: 1.3em;
                margin-bottom: 1.375em;

                strong{
                    @include purpleHighlight()
                }
            }
        }

        .news-swiper {
            width: 100%;
            height: fit-content;

            .swiper-wrapper {
                .swiper-slide {
                    .post {
                        width: 100%;
                        max-height: 420px;
                        padding: 2.75rem;

                        background-color: #F9F8FC;
                        border: 1px solid #D8D8DD;
                        border-radius: 20px;

                        .date {
                            display: inline;
                            color: #7C74C7;
                            font-size: 0.75rem;
                            line-height: 0.75rem;
                            padding: 0.6rem 0.875rem;
                            border: 1px solid #7C74C7;
                            border-radius: 25px;
                        }

                        h4 {
                            color: #3A337C;
                            font-weight: 600;
                            font-size: 1.5rem;
                            margin-top: 2rem;
                            margin-bottom: 1rem;
                        }

                        p {
                            font-size: 0.875rem;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    #contact_section {
        &>.container {
            background-color: #E2DFFE;
            border-bottom-right-radius: 40px;
            border-bottom-left-radius: 40px;
            padding-left: 2em;
            padding-right: 2em;
        }

        .contact-text {
            h3 {
                color: #3A337C;
                font-size: 1.125rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            .title {
                color: #3A337C;
                font-size: 4.4rem;
                font-weight: 600;
                line-height: 5rem;
                margin-bottom: 0.375em;
            }


            p {
                color: #3A337C;
                font-size: 0.95rem;
                font-weight: 300;
                line-height: 1.5em;
                padding-right: 5rem;
            }
        }

        form {
            .form-label {
                color: #3A337C;
                font-size: 0.95rem;
                font-weight: 300;
                margin-bottom: 15px;

                &[for="checkbox"] {

                    margin-left: 1rem;
                    margin-top: auto;
                    margin-bottom: auto;

                    &,
                    &>a {
                        font-size: 0.75rem;
                        text-decoration: none;
                    }
                }
            }

            .form-control {
                margin-bottom: 22px;
                padding: 23px 28px;
                font-size: 0.85rem;
                border-radius: 32px;

                &,
                &:focus {
                    box-shadow: unset;
                    border: unset;
                }

                &[id="message"] {
                    min-height: 200px;
                    resize: none;
                }
            }

            input[type="checkbox"] {
                appearance: none;

                margin-top: auto;
                margin-bottom: auto;
                border: 1px solid #3A337C;
                background-color: transparent;
                height: 20px;
                width: 20px;
                border-radius: 50%;

                &:checked {
                    background-color: #423a8d;
                }
            }

            .btn-default {
                width: 100%;
                min-width: 100%;
                margin-top: 22px;
            }
        }
    }
}

//! Desktop
@media (min-width: 992px) {
    #homepage {
        #welcome_section {
            .welcome-text {
                margin-top: 190px;
                margin-bottom: 370px;

                h2 {
                    font-size: 80px;
                    line-height: 90px;
                }

                p {
                    padding-right: 5rem;
                }
            }
        }

        #category_section {

            .category-text {
                margin-top: 150px;

                h3 {
                    font-size: 3em;
                }
            }

            .category-swiper {
                margin-top: 60px;

                .swiper-wrapper {
                    .swiper-slide {
                        .category {
                            h4 {
                                font-size: 1.375em;
                            }
                        }
                    }
                }
            }

            .category-btn {
                margin-bottom: 150px
            }
        }

        #about_section {
            &>.container {
                padding: 140px 2rem;
            }

            .about-text {
                .title {
                    font-size: 2.78rem;
                }
            }
        }

        #news_section {
            .news-text {
                margin-top: 160px;

                h3 {
                    font-size: 2.78rem;
                }
            }

            .news-swiper {
                margin-bottom: 70px;
            }

            .btn-default {
                margin-bottom: 160px;
            }
        }

        #contact_section {
            &>.container>.row>div {
                margin-top: 150px;
            }

            .contact-text {
                margin-bottom: 480px;
            }
        }
    }
}

@media (max-width: 1200px) {
    #homepage {
        #welcome_section {
            .welcome-text {
                p {
                    padding-right: 0;
                }
            }
        }
    }
}



//! Mobile
@media (max-width: 992px) {
    #homepage {
        #welcome_section {
            .welcome-text {
                margin-top: 100px;
                margin-bottom: 150px;

                h2 {
                    font-size: 70px;
                    line-height: 70px;
                }
            }
        }

        #category_section {
            .category-text {
                margin-top: 75px;

                h3 {
                    font-size: 2.25em;
                }
            }

            .category-swiper {
                margin-top: 30px;

                .swiper-wrapper {
                    .swiper-slide {
                        .category {
                            h4 {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            .category-btn {
                margin-bottom: 75px
            }
        }

        #about_section {
            &>.container {
                padding-top: 70px;
                padding-bottom: 70px;
            }

            .about-text {
                align-items: center;
                margin-top: 1.5em;

                h3,
                .title,
                p {
                    text-align: center;
                }

                h3 {
                    font-size: 2rem;
                }

                .title {
                    font-size: 1.75rem;
                }
            }
        }

        #news_section {
            .news-text {
                margin-top: 90px;

                .title {
                    font-size: 1.75rem;
                }
            }

            .news-swiper {
                margin-bottom: 45px;
            }

            .btn-default {
                margin-bottom: 90px;
            }
        }

        #contact_section {
            &>.container>.row>div {
                margin-top: 80px;
                margin-bottom: 100px;
            }

            h3 {
                text-align: center;
                color: #3A337C;
                font-size: 2.7rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }
        }
    }
}
