//! Default
footer {
    position: absolute;
    width: 100%;
    min-height: 520px;
    color: #717178;

    .container {
        padding: 2rem 1.5rem;
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: bottom -100px right;

        ul {
            margin-top: 70px;
            margin-bottom: 140px;
            list-style: none;

            .footer-link {
                margin-bottom: 1.25rem;
                color: #717178;

                &>a {
                    @include linkClass(#717178, false);
                    font-weight: 300;
                    text-decoration: none;
                }
            }

            .socials {
                gap: 2rem
            }
        }

        .copyright {
            gap: 75px;

            div {
                color: #717178;
                font-size: 0.8em;
            }
        }
    }
}

//! Desktop
@media (max-width: 1199px) {
    footer {
        .container{
            ul {
                margin-top: 20px;
                margin-bottom: 30px;
            }
        }
    }
}


// @media (min-width: 992px) {
//     footer {}
// }

// //! Mobile
// @media (max-width: 992px) {
//     footer {}
// }


@media (max-width: 767px) {
    footer {
        .container {
            .copyright {
                gap: 1rem;
            }
        }
    }
}
